---
layout: page
title: Article Topics
header: Articles Listed by Topics
group: navigation
---
{% include JB/setup %}

{% for cat in site.data.topics %}
<h2> {{ cat }} </h2>
<ul>
  {% for page in site.pages %}
    {% if page.article == true %}
      {% for topic in page.topics %}
        {% if topic == cat %}
          <li><a href="{{ page.url }}">{{ page.title }}</a></li>
        {% endif %}   <!-- cat-match-topic -->
     {% endfor %}  <!-- page-category -->
   {% endif %}   <!-- resource-p -->
 {% endfor %} <!-- page -->
</ul>
{% endfor %}  <!-- cat -->

